@import "vars.scss";
@import "btn.scss";

.tabview {
  display: flex;
  flex-direction: column;
}

.tabview-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tabview-label {
  @extend .btn;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tabview-body {
  padding-left: 5px;
  padding-right: 5px;
  flex: 1;
  display: flex;
}

.tabview-body .unselected {
  display: none;
}
