$purple: #674Aa8;

$btnTextColor: #674Aa8;
$btnTextColorHover: white;
$btnBorderColor: #674Aa8;
$btnBg: none;
$btnBgColorHover: #5639a8;
$btnFontFamily: Helvetica Neue, Helvetica, Arial, sans-serif;

$outputFontFamily: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
